/**{{#description}}
* {{{description}}}{{/description}}
* Values: {{#allowableValues}}{{#enumVars}}{{&name}}{{^-last}},{{/-last}}{{/enumVars}}{{/allowableValues}}
*/
@Serializable
enum class {{classname}}() {
{{#allowableValues}}{{#enumVars}}    @SerialName({{{value}}}) {{&name}}{{^-last}},{{/-last}}{{{newline}}}{{/enumVars}}{{/allowableValues}}}