/**{{#description}}
* {{{description}}}{{/description}}
* Values: {{#allowableValues}}{{#enumVars}}{{&name}}{{^-last}},{{/-last}}{{/enumVars}}{{/allowableValues}}
*/
@Serializable
enum class {{classname}}(val value: {{dataType}}) {
{{#allowableValues}}{{#enumVars}}    @SerialName({{{value}}}) {{&name}}({{{value}}}){{^-last}},{{/-last}}{{{newline}}}{{/enumVars}}{{/allowableValues}}}
