{{>file_header}}
package {{modelPackage}}
{{#imports}}{{#-first}}
{{/-first}}import {{import}}
{{/imports}}
{{#models}}{{#model}}
{{#hasChildren}}{{>open_class}}{{/hasChildren}}{{^hasChildren}}{{#isAlias}}{{>type_alias}}{{/isAlias}}{{^isAlias}}{{#isEnum}}{{>enum_class}}{{/isEnum}}{{^isEnum}}{{>data_class}}{{/isEnum}}{{/isAlias}}{{/hasChildren}}{{/model}}
{{/models}}