{{#description}}/**
 * {{{description}}}
 */{{{newline}}}{{/description}}typealias {{classname}} = {{{dataType}}}{{#hasEnums}}{{{newline}}}{{#vars}}
/**
  * {{{description}}}
  * Values: {{#allowableValues}}{{#enumVars}}{{&name}}{{^-last}}, {{/-last}}{{/enumVars}}{{/allowableValues}}
  */
enum class {{enumName}}() {
    {{#allowableValues}}{{#enumVars}}@SerialName({{{value}}}) {{&name}}{{^-last}},{{/-last}}{{#-last}}{{/-last}}{{/enumVars}}{{/allowableValues}}
}
{{/vars}}{{/hasEnums}}